.menu-style {
    background-color: #982222;
}
.text-menu {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.logo {
    margin : 0px 145px ;
    display: flex;
    margin-right: 0px; 
    width: 80px;
    height: 80px;
}
.text-1-menu {
    font-family: 'Rock Salt', sans-serif;
    font-size: 24px;
    margin : 0px 110px ;
    display: flex;
    margin-right: 0px; 
}
.Icon-Fleche-bas {
    margin : 0px 160px ;
    display: flex;
    margin-right: 0px; 
}
.text-2-menu {
    font-family: 'Rock Salt', sans-serif;
    font-size: 18px;
    margin : 0px 110px ;
    display: flex;
    margin-right: 0px;
}
.text-3-menu {
    font-style: Arial, normal;
    font-size: 11px;
}
.bouton-more {
    padding: 5px 50px;
    border: 1px solid #000000;
    text-decoration: none;
    color: #000000;
    width: 60px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font-style: Arial;
    margin-left: 130px;
    
}
.ligne {
    background-color: #000000;
    margin-top: 40px;
}
.text-4-menu {
    font-family: 'Rock Salt', sans-serif;
    font-size: 18px;
    margin : 0px 120px ;
    display: flex;
    margin-right: 0px;
}
.text-5-menu {
    font-family: 'Rock Salt', sans-serif;
    font-size: 18px;
    margin : 0px 70px ;
    display: flex;
    margin-right: 0px;
}
.text-6-menu {
    font-family: 'Rock Salt', sans-serif;
    font-size: 18px;
    margin : 0px 125px ;
    display: flex;
    margin-right: 0px;
}
.img-rossi {
    width: 75px;
    height: 75px;
    margin : 5px 140px ;
    margin-top: 40px;
}
.text-1-aldo-rossi {
    padding: 15px 0px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.text-2-aldo-rossi {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
}
.text-1-contact {
    font-family: 'Inter', normal;
    font-size: 15px;
}
* {
    box-sizing: border-box;
}
.text-2-contact {
    font-family: 'Inter', normal;
    font-size: 10px;
    padding-left: 50px;
    color: #7B7B7B;
}
.adresse {
    font-family: 'Inter', normal;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
.box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.phone {
    font-family: 'Inter', normal;
    font-size: 16px;
}
.section-formulaire {
    background-color: #982222;
    color: #ffffff;
    width: cover;
}
.formulaire {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Ajouter vos propres styles */
.formulaire {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 15px 0;
}
.btn-formulaire {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px 8px;
    display: flex;
    margin: 15px 148px;
}
.nom-formulaire {
    font-family: 'Inter', normal;
    font-size: 14px;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center; /* pour aligner verticalement différents de justify-content qui aligne horizontalement */
}
.section-formulaire {
    margin: -9px;
    margin-bottom: -20px;
}
.logo-informations {
    margin : 0px 115px ;
    display: flex;
    width: 80px;
    height: 80px;;
}
.section-informations {
    margin: 35px;
}
.titre-informations {
    font-family: 'Rock Salt', sans-serif;
    font-size: 27px;
    margin: 0px 50px;
}
.titre-2-informations {
    font-family: 'Rock Salt', sans-serif;
    font-size: 27px;
    margin: 0px 17px;
}
.img-fc-infos {
    width: 300px;
    height: 231px;
    margin-top: 15px;
}
.text-1-informations{
    font-family: 'Mulish', sans-serif;
    font-size: 8px;
    margin: 0px 80px;
}
.text-adress-infos {
    font-family: 'Mulish', sans-serif;
    font-size: 11px; 
}
.adresse-2 {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
}
.image-rossi-infos {
    width: 175px;
    height: 175px;
    margin: 0px 60px;
    margin-top: 15px;
}
.text-img-rossi {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
    margin: 0px 51px;
}
.text-date {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
    margin: 0px 80px;
}
.tarifs {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.text-3-infos {
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
}
.text-1-oeuvres {
    font-family: 'Rock Salt', sans-serif;
    font-size: 27px;
    margin: 0px 50px;
}
.text-2-oeuvres{
    font-family: 'Rock Salt', sans-serif;
    font-size: 27px;
    margin: 0px 25px;
}
.text-3-oeuvres {
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.text-frise {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}