img {
    max-width: 105%;
  }
.logo-header {
    max-width: 35%;
}
.img-fc {

    margin-right: px;
    margin-left: -7.7px;
    margin-top: -10px;
    margin-bottom: 0px;
    width: 375px;
    height: 250px;
}