.footer {
    padding: 0 20px;
    height: 59px;
    background-color: #252525;
    margin: -8.4px;
    height: 400px;
}
.logo-footer {
    margin : 0px 150px ;
    display: flex;
    margin-right: 0px;
    width: 40px;
    height: 40px;
}
.text-footer {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.text-2-footer {
    color: #7B7B7B;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.logo-facebook {
    padding-right: 10px;
}
.logo-instagram {
    padding-right: 10px;
}
.logo-fc {
    margin : 0px 150px ;
    display: flex;
    margin-right: 0px;
    width: 40px;
    height: 40px;
}
.text-3-footer {
    color: #7B7B7B;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}