.bouton-billetterie {
    padding: 1px 10px;
    border: 1px solid #000000;
    text-decoration: none;
    color: #000000;
    background-color: #F1CD12;
    border-radius: 15px;
    height: auto;
    margin: auto;
    font-size: 10px;
    display: flex;
    justify-content: center;
    font-style: Arial;
    margin-right: 0;
}
.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 59px;
    width: auto;
    background-color: #000000;
    margin: -8.4px;
}
.logo-header {
    width: 100%;
    height: auto;
    margin : auto;
    margin-right: 0px;
}
.menu-Hamburger {
    margin-left: 40px;
    margin-right: 10px;
}
.header-menu {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 59px;
    width: auto;
    background-color: #252525;
    box-sizing: border-box;
    margin: -8.4px;
}
.menu-close {
    margin-left: 40px;
    margin-right: 10px;
    margin-right: 0;
}