.bouton-billetterie {
    padding: 3px 8px;
    border: 1px solid #000000;
    text-decoration: none;
    color: #000000;
    background-color: #F1CD12;
    border-radius: 15px;
    justify-content: space-between;
}
